{% extends '::layout.html.twig' %}
{% set subtitle = 'Mon compte' %}
{% block head %}
{{parent()}}

<a href="{{path('lc_compte_mdp')}}" class="btn">Changer de mot de passe</a>
					
	{% if canUpgrade %}
	<a href="{{path('lc_compte_upgrade')}}" class="btn">Devenir membre ([[ {{ get_setting('montantAdhesion') }} | currency ]])</a>
	{% endif %}
{% endblock%}
{% block content %}
	<h2 class="content-title">Résumé</h2>
	<dl>
		<dt>Type de compte</dt>
		<dd>{{app.user.rang}}</dd>
		<dt>Réduction</dt>
		<dd>
			{% if app.user.rang.reduction != 0 %}
			{{ app.user.rang.reduction ~ ' ' ~ app.user.rang.typeReduc}} sur certain produit
			{% else %}
			Aucune réduction
			{% endif %}
		</dd>
		<dt>Login</dt>
		<dd>{{app.user.username}}</dd>
	</dl>
	<br/>
	{% if transactions is not empty%}
	<h2 class="content-title">Historique</h2>
	<br/>
	<table class="table" width="100%">
		<thead>
			<tr>
				<td>Date</td>
				<td>Motif</td>
				<td>Montant</td>
			</tr>
		</thead>
		<tbody>
			{% for transaction in transactions %}
			<tr>
				<td>{{transaction.date | date('d/m à H\\hi')}}</td>
				<td>{{transaction.type}}</td>
				<td>[[ {{transaction.userMontant}} | currency ]]</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h2 class="content-title">Aucune transaction recente</h2>
	{% endif %}
{% endblock %}
