
{% block form_row %}
	<label class="form-input">
		<p>{{ form_label(form) }}</p>
		{{ form_widget(form) }}
		<div class="form-input-helper err">{{ form_errors(form) }}</div>
	</label>
{% endblock %}

{% block money_widget %}
   {% set money_pattern = '{{ widget }} <span>&euro;<span>' %}
   {{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
{%- endblock money_widget %}

{% block percent_widget %}
   {% set money_pattern = '{{ widget }} <span>%<span>' %}
   {{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
{%- endblock percent_widget %}

{% block checkbox_row %}
	<label class="form-check">
		<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
		{{- form_label(form, null) -}}
	</label>
{% endblock checkbox_row %}

{% block time_widget -%}
	{% if widget == 'single_text' %}
		{{- block('form_widget_simple') -}}
	{% else -%}
		{% set vars = { 'attr': { 'style': 'width:4.5em' }} %}
		<div {{ block('widget_container_attributes') }}>
			{{ form_widget(form.hour, vars) }}{% if with_minutes %} : {{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %} : {{ form_widget(form.second, vars) }}{% endif %}
		</div>
	{%- endif %}
{%- endblock time_widget %}


{#
{% block date_widget %}
<div>²
	<select style="width:27%">
		<option>s</option>
	</select><!--
 --><select style="width:33%">
		<option>s</option>
	</select><!--
 --><select style="width:37%">
		<option>s</option>
	</select>
</div>
{% endblock %}
#}

{% block produits_commande_widget %}
	<div class="form-produit">
		<div class="form-produit-input">
			<input
				min="1"
				max="[[ produit.stock ? produit.stock : '99' ]]"
				ng-model="produit.quantite"
				id="form[produits][[ '[' + $index + ']' ]][quantite]"
				name="form[produits][[ '[' + $index + ']' ]][quantite]"
				type="number"/>
			<label for="form[produits][[ '[' + $index + ']' ]][quantite]">[[ produit.libelle ]]</label>
			<input
				ng-model="produit.id"
				name="form[produits][[ '[' + $index + ']' ]][produit]"
				hidden/>
			<span class="form-produit-price">[[ produit.prix*produit.quantite | price ]]</span>
		</div>
		<div class="form-produit-tools"><img ng-click="produits.remove(produit.id)" title="Retirer" src="{{ asset('/public/img/icons/remove.svg') }}"></div>
		<div ng-show="produit.err" class="form-input-helper err">[[ produit.err ]]</div>
	</div>
{% endblock %}
