{% extends '::layout.html.twig' %}
{% set subtitle = 'Liste des produits' %}
{% block head %}
{{parent()}}
<a href="{{path('lc_produit_new')}}" class="btn">Nouveau produit</a>
<a href="#" class="btn">Nouveau supplément</a>
<a href="{{ path('lc_produit_new_categorie') }}" class="btn">Nouvelle catégorie</a>
<a href="#" class="btn">Réapprovisionnement</a>
{% endblock%}
{% block content %}
<h2 class="content-title">Liste des produits</h2>

	<table class="table" width="100%">
		<thead>
			<tr>
				<td>Libellé</td>
				<td>Prix de vente</td>
				
				{% if is_granted('ROLE_PRESIDENT') %}
				<td>Taux de marge</td>
				{% endif %}

				<td>Stock</td>
				
				{% if is_granted('ROLE_SECRETAIRE') %}
				<td width="30px">Action</td>
				{% endif %}

			</tr>
		</thead>

		{% for categorie in categories %}
		<thead>
			<tr>
				<td>{{categorie.libellePluriel}}
				{% if is_granted('ROLE_SECRETAIRE') %}
				<a href="{{ path('lc_produit_edit_categorie', { id: categorie.id }) }}"><img title="Editer" src="{{asset('/public/img/icons/modifier.svg')}}"></a></td>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for produit in categorie.produits %}
				<tr>
					<td>{{ produit.libelle }}</td>
					<td>[[ {{produit.prixVente}} | currency ]]</td>
				
				{% if is_granted('ROLE_PRESIDENT') %}
					<td>{{ (produit.tauxMarge is not null) ? produit.tauxMarge ~ ' %' }}</td>
				{% endif %}

					<td>{% if produit.dispo %}
						{% if produit.stock!=null %}
							{{produit.stock}}
						{% else %}
							Oui
						{% endif %}
						{% else %}
							Non
						{% endif %}
					</td>
					
					{% if is_granted('ROLE_SECRETAIRE') %}
					<td align="center"><a href="{{ path('lc_produit_edit', {id: produit.id}) }}"><img title="Editer" src="{{asset('/public/img/icons/modifier.svg')}}"></a></td>
					{% endif %}
				
				</tr>
			{% endfor %}


		</tbody>
		{% endfor %}
		<thead>
			<tr>
				<td>Suppléments</td>
			</tr>
		</thead>
			<tbody>
			{% for supplement in supplements %}
				<tr>
					<td>{{supplement.libelle}}</td>
					<td>{{ (supplement.prix > 0) ?  '+ [[ ' ~ supplement.prix ~ ' | currency ]]' : 'Gratuit' }}


						</td>
						<td></td>
					<td>{{ supplement.dispo ? 'Oui' : 'Non' }}</td>
					<td align="center"><a href="#"><img title="Editer" src="{{asset('/public/img/icons/modifier.svg')}}"></a></td>
				</tr>
			{% endfor %}
			</tbody>
	</table>

{% endblock %}
