{% extends '::layout.html.twig' %}
{% set subtitle = 'Liste des produits' %}
{% block head %}
{{parent()}}
<a href="{{path('lc_produit_new')}}" class="btn">Nouveau produit</a>
<a href="#" class="btn">Réapprovisionnement</a>
{% endblock%}
{% block content %}

	<table class="table" width="100%">
		<thead>
			<tr>
				<td>Libellé</td>
				<td>Prix de vente</td>
				<td>Stock</td>
				<td width="30px">Action</td>
			</tr>
		</thead>

		{% for categorie, lesProduits in produits %}
		<thead>
			<tr>
				<td colspan="4">{{categorie}}</td>
			</tr>
		</thead>
		<tbody>
			{% for produit in lesProduits %}
				<tr>
					<td>{{produit.libelle}}</td>
					<td>[[ {{produit.prixVente}} | currency ]]</td>
					<td>{% if produit.dispo %}
						{% if produit.stock!=null %}
							{{produit.stock}}
						{% else %}
							Oui
						{% endif %}
						{% else %}
							Non
						{% endif %}
					</td>
					<td align="center"><a href="#"><img title="Editer" src="{{asset('/public/img/icons/modifier.svg')}}"></a></td>
				</tr>
			{% endfor %}

		</tbody>
		{% endfor %}

	</table>

{% endblock %}
