{% extends '::layout.html.twig' %}
{% set subtitle = 'Nouveau produit' %}

{% block content %}

	{% form_theme form 'LogiCorpoBundle:Default:form.html.twig' %}
	{{ form_errors(form) }}

	{{ form_start(form, { 'attr': {'class': 'form'} }) }}
		<div class="two">
			<h2 class="content-title">Informations générales</h2>
			{{form_row(form.categorie)}}
			{{form_row(form.libelle)}}
			{{form_row(form.prixVente)}}
		</div>
		<div class="two">
			<h2 class="content-title">Supplément(s)</h2>
			{{form_row(form.supplementsDisponible)}}
		</div>
		<div class="cb"></div>
		<div class="two">
			<h2 class="content-title">Stocks</h2>
			{{form_row(form.dispo)}}
			{{form_row(form.stock)}}
			
		</div>
		<div class="two">
			<h2 class="content-title">Options</h2>
			{{form_row(form.prixAchat)}}
			{{form_row(form.reduction)}}
			<label class="form-partition">
				<p>aa</p>
				<div class="form-partition-left">Espece
					<span>5,00 €</span>
				</div>
				<div class="form-partition-right">Compte
					<span>5,00 €</span>
				</div>
				<input type="range">
			</label>
		</div>
		<div class="cb"></div>
		{{ form_rest(form) }}
	{{form_end(form)}}
{% endblock %}
