{% block produit_widget %}
		<div class="two">
			<h2 class="content-title">Informations générales</h2>
			{{form_row(form.categorie)}}
			{{form_row(form.libelle)}}
		</div>
		<div class="two">
			<h2 class="content-title">Supplément(s)</h2>
			{{form_row(form.supplementsDisponible)}}
		</div>
		<div class="cb"></div>
		<div class="two">
			<h2 class="content-title">Stocks</h2>
			{{form_row(form.dispo)}}
			{{form_row(form.stock)}}
			
		</div>
		<div class="two">
			<h2 class="content-title">Comptabilité</h2>
			{{form_row(form.prixVente)}}
			{{form_row(form.prixAchat)}}
			{{form_row(form.reduction)}}
		</div>
		<div class="cb"></div>
{% endblock %}