{% extends '::layout.html.twig' %}
{% set subtitle = 'Liste des utilisateurs' %}
{% block head %}
{{parent()}}
<a href="{{path('lc_utilisateur_new')}}" class="btn">Nouvel utilisateur</a>
{% endblock %}
{% block content %}
	
	<table class="table" width="100%">
		<thead>
			<tr>
				<td>Nom</td>
				<td>Login</td>
				<td>Rang</td>
				<td>Solde</td>
				<td width="100px">Action</td>
			</tr>
		</thead>
		<tbody>
			{% for utilisateur in utilisateurs %}
				<tr>
					<td>{{utilisateur.nom | upper}} {{utilisateur.prenom | title}}</td>
					<td>{{utilisateur.username}}</td>
					<td>{{utilisateur.rang.nom | title}}</td>
					<td><span class="solde:{{utilisateur.solde}}"></span></td>
					<td align="center">
						<a href="{{path('lc_utilisateur_solde',   {'id': utilisateur.id}) }}"><img title="Créditer/Débiter" src="{{asset('/public/img/icons/money.svg')}}"></a><a href="{{ path('lc_utilisateur_editer', {'id': utilisateur.id}) }}"><img title="Modifier" src="{{asset('/public/img/icons/modifier.svg')}}"></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
