{% extends '::layout.html.twig' %}
{% set subtitle = 'Créditer/Débiter' %}


{% block head %}
{{parent()}}
<h2 class="content-title">{{user}} <span class="solde:{{user.solde}}"></span></h2>
{% endblock %}

{% block content %}
<div class="two">
	{% form_theme form 'LogiCorpoBundle:Default:form.html.twig' %}
	{{ form_errors(form) }}
	{{ form(form, { 'attr': {'class': 'form'} }) }}
</div>
<div class="two">
	<h2 class="content-title">Approvisionnement de compte</h2>
	<p>L'approvisionnement de compte doit être utilisé lorsque l'utilisateur dépose(crédite)/retire(débite) de l'éspèce sur son compte.</p>
	<p>Pour un crédit sur le compte utilisteur, le montant doit être positif, pour un débit, le montant doit être négatif.</p>
	<h2 class="content-title">Remboursement</h2>
	<p>Le remboursement doit être utilisé lorsque l'on veut transférer l'argent du compte corporation, a un compte utilisteur (ou l'inverse).</p>
	<p>Pour un crédit sur le compte utilisteur, le montant doit être positif, pour un débit, le montant doit être négatif.</p>
</div>
{% endblock %}
