{% extends '::layout.html.twig' %}
{% set subtitle = 'Créditer/Débiter' %}


{% block head %}
{{parent()}}
<h2 class="content-title">{{user}} <span class="solde:{{user.solde}}"></span></h2>

{% endblock %}

{% block content %}
	{% form_theme form 'LogiCorpoBundle:Default:form.html.twig' %}
	{{ form_errors(form) }}
	{{ form(form, { 'attr': {'class': 'form'} }) }}
{% endblock %}
