{% extends '::layout.html.twig' %}
{% set subtitle = 'Gestion de la caisse' %}

{% block head %}
{{parent()}}
<a href="{{path('lc_caisse_transaction_nouvelle')}}" class="btn">Nouvelle transaction</a>
<a href="{{path('lc_caisse_transaction_chercher')}}" class="btn">Recherche de transaction</a>
<p>Seul le président peut corriger une transaction.</p>
{% endblock%}

{% block content %}
<h2 class="content-title">Détail</h2>
<dl>
	<dt>Solde physique</dt>
	<dd>[[{{solde.physique}} | currency ]]</dd>

	<dt>Solde disponible</dt>
	<dd>[[{{solde.dispo}} | currency ]]</dd>

	<dt>Solde non-dispo</dt>
	<dd>[[{{solde.nonDispo}} | currency ]]</dd>

	<dt>Solde ventes</dt>
	<dd>[[{{solde.ventes}} | currency ]]</dd>

	<dt>Solde achats</dt>
	<dd>[[{{solde.achats}} | currency ]]</dd>

	<dt>Erreurs de caisse</dt>
	<dd>[[{{solde.errCaisse}} | currency ]]</dd>

	<dt>Bénefices</dt>
	<dd>[[{{solde.benefices}} | currency ]]</dd>

</dl>
{% if transactions is not empty %}
<h2 class="content-title">{{max}} dernières transactions</h2>
{{ include('LogiCorpoBundle:Caisse:transactionTable.html.twig', {'transactions':transactions}) }}
<br/>
<a href="{{path('lc_caisse_home', {max : max+10} )}}" class="btn">Plus ...</a>
{% else %}
<h2 class="content-title">Aucune transactions</h2>
{% endif %}

{% endblock %}