{% extends '::layout.html.twig' %}
{% set subtitle = 'Service de ' ~ (service.debut | date("H\\hi")) %}
{% block head %}
{{parent()}}
<a class="btn" href="#">Nouvelle commande</a>
<a class="btn" href="#">Prochaine commande ..</a>
{% endblock %}
{% block content %}

{% for commande in service.commandes %}
	<div class="commande">
		<div class="commande-infos">
			<div class="commande-user">
				{{ commande.utilisateur }}
				<a href="#" class="user-solde solde:{{ commande.utilisateur.solde }}" ></a>
			</div>
			<div class="commande-tools">
				<a><img src="{{asset('/public/img/icons/modifier.svg')}}"></a>
				<a><img src="{{asset('/public/img/icons/money.svg')}}"></a>
			</div>
			<div class="commande-price">[[ {{ commande.montant }} | currency ]]</div>
		</div>
		<div class="commande-products">
			<ul>
				{% for produit in commande.produits %}
				<li><span>{{ produit.quantite }}</span>{{ produit.produit.libelle }}</li>
				{% endfor %}
			</ul>
		</div>
			<button class="commande-toggle">
				<img src="{{asset('/public/img/icons/down.svg')}}">
			</button>
	</div>
{% endfor %}

{% endblock %}
