{% extends '::layout.html.twig' %}
{% set subtitle = 'Passer commande' %}

{% block content %}
<div ng-controller="CommandeCtrl">
	<div class="two">
		{% if lastProductsCommande is not empty %}
		<h2 class="content-title">Recement commandé</h2>
		<div class="list">
			<div class="item">
				<ul class="item-list">
					{% for produit in lastProductsCommande %}
					{% set dispo = produit.dispo ? 'true' : 'false' %}
					<li
					ng-class="{disable: !{{ dispo }} }"
					title="[[ {{ dispo }} ? 'Ajouter à ma commande' : 'Produit épuisé' ]]"
					ng-click="{{ dispo }} && produits.add({{ produit.id }})">
						<span class="list-produit-title">{{ produit.libelle }}</span>
						<span class="list-produit-price">[[ {{ produit.prixVente }} | currency ]]</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<br/>
		{% endif %}
		<h2 class="content-title">Produits</h2>
		<div class="list">
			<div class="item" ng-init="showcateg=false" ng-repeat="categorie in categories">
				<div class="item-title" ng-click="showcateg=!showcateg;console.log('ok')">[[ categorie.libellePluriel ]]</div>
				<ul ng-show="showcateg" class="item-list">
					<li
					ng-class="{disable: !produit.dispo }"
					title="[[ produit.dispo ? 'Ajouter à ma commande' : 'Produit épuisé' ]]"
					ng-click="produit.dispo && produits.add(produit.id)"
					ng-repeat="produit in categorie.produits">
						<span class="list-produit-title">[[ produit.libelle ]]</span>
						<span class="list-produit-price">[[ produit.prixVente | price ]]</span>
					</li>
				</ul>
			</div>
		</div>


	</div>
	<div class="two" >
		{% form_theme form 'LogiCorpoBundle:Default:form.html.twig' %}
		{{ form_start(form, { 'attr': {'class': 'form', 'style' : 'position:fixed'} }) }}
		<h2 class="content-title">Ma commande</h2>
		<div ng-repeat="produit in produits.list track by $index">
			{{form_widget(form.produits.vars.prototype)}}
		</div>
		<br/>
		<div ng-show="produits.isEmpty()">
			<h3 class="content-title">Aucun produit :(</h3>
			<h3 class="content-title">Ajoutez des produits</h3>
		</div>
		<div ng-hide="produits.isEmpty()">
			<h3 class="content-title" ng-show="produits.getTotal() > 0">Total [[ produits.getTotal() | price ]]</h3>
			{{ form_errors(form) }}
			{{ form_rest(form) }}
		</div>

		{{form_end(form)}}
		
	</div>
	<div class="cb"></div>
</div>
{% endblock %}
