{% extends '::layout.html.twig' %}
{% set subtitle = 'Paramètres de logiCorpo' %}

{% block content %}

	{% form_theme settings_form 'LogiCorpoBundle:Default:form.html.twig' %}
	{{ form_start(settings_form, { 'attr': {'class': 'form'} }) }}
	<div class="two">
		<h2 class="content-title">Configuration génarale</h2>
		{{ form_row(settings_form.seuil) }}
		{{ form_row(settings_form.montantAdhesion) }}
	</div>
	<div class="two">
	
		<h2 class="content-title">Configuration par défaut des services</h2>
		{{ form_rest(settings_form) }}
		
	</div>
	{{form_end(settings_form)}}
{% endblock %}