{% extends '::layout.html.twig' %}
{% set subtitle = 'Paramètres de logiCorpo' %}

{% block content %}

	{% form_theme settings_form 'LogiCorpoBundle:Default:form.html.twig' %}
	{{ form_start(settings_form, { 'attr': {'class': 'form'} }) }}
	<div class="two">
		<h2 class="content-title">Configuration génarale</h2>
		{{ form_row(settings_form.seuil) }}
		{{ form_row(settings_form.montantAdhesion) }}
	</div>
	<div class="two">
		<h2 class="content-title">Configuration par défaut des services</h2>
		<p>Les heures peuvent être personalisée pour chaque services.</p>
		{{ form_row(settings_form.debutService) }}
		{{ form_row(settings_form.finService) }}
		{{ form_row(settings_form.debutCommande) }}
		{{ form_row(settings_form.finCommande) }}
		{{ form_row(settings_form.interdictionCommandeSeuil) }}

	</div>
	{{ form_row(settings_form.submit) }}
	{{ form_rest(settings_form) }}
	{{form_end(settings_form)}}
{% endblock %}